
@{
    ViewBag.Title = "Catalogo de Alumnos";
    List<EscuelaMVC.Models.Alumno> Datos = ViewBag.Datos;
    //EscuelaMVC.ViewModel.AlumnoViewModel.listarContenido();
}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-primary">
                <div class="card-header text-center">
                    <h4>Catalogo de Alumnos</h4>
                </div>
                <table class="table table-inverse table-hover card-block">
                    <thead>
                        <!--Encabezado-->
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Grupo</th>
                            <th class="text-center">
                                <button class="btn btn-outline-primary" onclick="addUser()">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </th>
                        </tr>
                        <!--/Encabezado-->
                    </thead>
                    <tbody>
                        <!--Datos-->
                        @foreach (EscuelaMVC.Models.Alumno item in Datos)
                        {
                            <tr>
                                <td>@item.pkAlumnos</td>
                                <td>@item.sNombre @item.sApellido</td>
                                <td>@item.sGrupo</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-info" onclick="verdet(@item.pkAlumnos)" data-value="@item.pkAlumnos">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-outline-success" onclick="update(@item.pkAlumnos)" data-value="@item.pkAlumnos">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-outline-danger" onclick="Edelete(@item.pkAlumnos)" data-value="@item.pkAlumnos">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        <!--/Datos-->
                    </tbody>
                </table>
                <div class="card-footer">
                    <label class="text-capitalize">Total de registros: @Datos.Count</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="contenido"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAdd">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar nuevo alumno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Agregar", "Home", FormMethod.Post))
                {
                    <!-- Nombre -->
                    <div class="form-group row">
                        <label for="Nombre" class="col-md-3 col-form-label text-capitalize">Nombre</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" placeholder="Nombre" id="Nombre" name="txtNombre" />
                        </div>
                    </div>
                    <!-- /Nombre -->

                    <!-- Apellido -->
                    <div class="form-group row">
                        <label for="Nombre" class="col-md-3 col-form-label text-capitalize">Apellido</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" placeholder="Apellido" id="Apellido" name="txtApellido" />
                        </div>
                    </div>
                    <!-- /Apellido -->

                    <!-- Grupo -->
                    <div class="form-group row">
                        <label for="Grupo" class="col-md-3 col-form-label text-capitalize">Grupo</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" placeholder="Grupo" id="Grupo" name="txtGrupo" />
                        </div>
                    </div>
                    <!-- /Grupo -->

                    <!-- Bottones-->
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary pull-right" value="Agregar" />
                        </div>
                    </div>
                    <!--/Bottones-->
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@{
    <script type="text/javascript">
        var verdet = function(id) {
            $("#contenido").load("/Home/VerDetalle/" + id, function () {
                $('#myModal').modal("show");
            });
        }

        var update = function(id) {
            $("#contenido").load("/home/Actualizacion/" + id, function () {
                $('#myModal').modal("show");
            });
        }

        var Edelete = function(id) {
            $("#contenido").load("/home/Eliminar/" + id, function () {
                $('#myModal').modal("show");
            });
        }
        
        var addUser = function() {
            $('#modalAdd').modal("show");            
        }
    </script>
}